* {
    box-sizing: border-box;
  }

body {
  background: url('./bg-main-page.jpg') no-repeat fixed;
  background-position: center bottom;
  background-size: cover;
}

// slide-bottom styles
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  overflow-y: hidden;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  overflow-y: auto;
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}